.boardContainer{
margin: 40px 20px;
}

.contentFont{
    font-size: 22px;
    font-weight: 500;
}
.container{
    margin-right: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
.contentContainer{
    margin: 20px;
    /* margin-left: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContainer{
    margin-top: 50px;
    margin-right: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.mainFont{
    font-size: 52px;
    font-weight: 600;
}
.subFont{
    margin-top: 70px;
    font-size: 28px;
    font-weight: 300;
}