.container {
    position:inherit;
    width: 100%;
    /* background-color: #E5E8EB; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headerContainer{
    margin-top: 50px;
    width: 70%;
}
.topContainer{
    width: 80%;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

}
.userContainer{
    padding: 20px 0;
    margin : 0 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.postContainer{
    width: 50%;
    height: 100%;
    display: flex;
    margin:0 30px;
    flex-direction: column;
    /* align-items: center;  */
    /* justify-content: flex-start; */
}
.mainContainer{
    /* min-height: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nameFont{
    font-size: 24px;
    font-weight: 500;
}
.BalanceContainer{
    margin: 10px 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bncContainer{
    height: 120px;
    display: flex;
    flex-direction: column;
    margin: 8px 4px;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
}
.bnc{
    width: 50rem;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentContainer {
    padding-top: 20px;
    border-top: 0.5px solid #a9a9a9;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}


.contentFont{
    font-size: 28px;
    font-weight: 500;
}

